<li>
	{{name}}

	<button class="change-stat" data-id="{{id}}" data-newstat="{{devoure}}">
		{{#if devoure}}Devoure!
		{{!-- {{else}}WAKE UP! --}}
		{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
